<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Turmas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header color="primary">
      <ion-card-subtitle>Turma</ion-card-subtitle>
      <ion-card-title>Teste e Qualidade de Software</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Thiago
    </ion-card-content>
    <ion-item href="cadastro-questao">
      <ion-button expand="block" slot="end" color="primary">Criar questionario</ion-button>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-header color="tertiary">
      <ion-card-subtitle>Turma</ion-card-subtitle>
      <ion-card-title>Banco de Dados</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Flavio
    </ion-card-content>
    <ion-item href="cadastro-questao">
      <ion-button expand="block" slot="end" color="tertiary">Criar questionario</ion-button>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-header color="danger">
      <ion-card-subtitle>Turma</ion-card-subtitle>
      <ion-card-title>Programação</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Luciene
    </ion-card-content>
    <ion-item href="cadastro-questao">
      <ion-button expand="block" slot="end" color="danger">Criar questionario</ion-button>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-header color="success">
      <ion-card-subtitle>Turma</ion-card-subtitle>
      <ion-card-title>Algoritmos</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Natalia
    </ion-card-content>
    <ion-item href="cadastro-questao">
      <ion-button expand="block" slot="end" color="success">Criar questionario</ion-button>
    </ion-item>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>